/* force slides to use the full width of the viewport */
section .content {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: none !important;
  width: 100vw !important;
  display: flex;
  align-items: flex-start;
}
